@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  background-image: url("./img/coverCupCake.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 45rem;
}